@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f9f7ff;
  --text: #0f172a;
}

.dark {
  --bg: #05050a;
  --text: #f8fafc;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: background 0.4s ease, color 0.4s ease;
}
.glass-noise::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/noise.png");
  opacity: 0.05;
  pointer-events: none;
}
